.FaviconCss{
    position: fixed;
    bottom: 80px;
    right: 80px 
}


@media (max-width:575px){
    .FaviconCss{
        position: fixed;
        bottom: 80px;
        right:20px 
    }
}


//md
@media (max-width:769px){

}
